<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062410862638-h3gjjoihoo45v6f1g2cfqlkpm55u43iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062410862638-h3gjjoihoo45v6f1g2cfqlkpm55u43iv</string>
	<key>API_KEY</key>
	<string>AIzaSyAlvneF5jjnimMN5pD0-szqO5DNTqGYADw</string>
	<key>GCM_SENDER_ID</key>
	<string>1062410862638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beatthemarket.beatthemarket</string>
	<key>PROJECT_ID</key>
	<string>beatthemarket-c13f8</string>
	<key>STORAGE_BUCKET</key>
	<string>beatthemarket-c13f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062410862638:ios:1d53e2db44104525551fbf</string>
	<key>DATABASE_URL</key>
	<string>https://beatthemarket-c13f8.firebaseio.com</string>
</dict>
</plist>